/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li,
caption, article, aside, details,
figure, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #efefef;
	line-height: 1;
}
ul {
	list-style: none;
}

/* Begin Application Styling */
section {
    padding: 1rem;
}

.c-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.c-message {
    font-size: 1.5rem;
    text-align: center;
}

.c-weather-area {
    display: flex;
    justify-content: center;
}

.c-weather-bug {
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.c-weather-bug__content {
    display: flex;
    align-items: center;
}

.c-weather-bug__temp {
    font-size: 3rem;
}

.is-top-aligned {
    vertical-align: top;
}
